/*	Resets */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, hgroup, menu, footer, header, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; }
article, aside, canvas, figure, figure img, figcaption, hgroup, footer, header, nav, section, audio, video { display: block; }
a { text-decoration: none; }
a img { border: 0; }
ul { list-style: none; }
input { -webkit-appearance: none; } /* iPad default styling */
body { background: #eee; line-height: 1.4; font-family: Arial; }

#Cards { float: left; width: 100%; height: 100%; position: relative; clear: both; }
#Cards li { float: left; margin: 20px 0 0 20px; width: 160px; height: 190px; color: #ddd; background: #fff; border-radius: 12px; border: 12px solid #fff; cursor: pointer; text-align: center; line-height: 100%; position: relative; overflow: hidden; }
#Cards li img,
#Cards li span { display: block; }
#Cards li span { color: #9c9c9c; padding: 10px 0; line-height: 20px; }
#Cards li .overlay { position: absolute; bottom: 0; left: 0; width: 100%; height: 100%; background: #A4D3EE url(../images/avatar.png) bottom no-repeat; }
/* #Cards li { font-size: 160px; } */
#Cards li.selected .overlay { opacity: 0; }